apiVersion: v1
kind: Service
metadata:
  labels:
    app: frontend-service 
  name: frontend-service
spec:
  type: LoadBalancer
  ports:
  - port: 80
    protocol: TCP
  selector:
      app: bubble-frontend

